@import '../../style/style.sass'

.book
    width: 90%
    margin: 30px auto 10px
    &__wrapper
        display: grid
        grid-template-columns: 35% 55%
        column-gap: 10%
        &__cover
            width: 400px
            height: 80vh
            object-fit: contain
    &__author
        font-size: 24px
        font-weight: bold
    &__name
        font-size: 32px
        font-weight: bold
    &__country
        font-size: 18px
    &__rating
        display: flex
        align-items: center
        justify-content: center
        width: 200px
        height: 200px
        background: url('../../assets/bigStar.png') no-repeat center center
        background-size: cover
        font-size: 50px
        margin-top: 20px
        margin-bottom: 20px
    &__link
        text-decoration: none
        font-size: 18px
        color: $gray-color
    &__comment
        margin-top: 30px
        font-size: 24px
        text-align: justify
    &__button
        margin-top: 20px
        margin-right: 20px
        width: 120px
        height: 35px
        border: 1px solid $gray-color
        border-radius: 10px
        background-color: white
        color: $gray-color
        font-size: 14px
        &:hover
            border-color: black
            color: black
    

@media ( max-width: 1119px )
    .book
        &__wrapper
            grid-template-columns: 45% 50%
            column-gap: 5%
            &__cover
                width: 300px
        &__author
            font-size: 20px
        &__name
            font-size: 28px
        &__country
            font-size: 18px
        &__comment
            margin-top: 15px
            font-size: 20px
        &__rating
            width: 120px
            height: 120px
            font-size: 30px
            margin-top: 10px
            margin-bottom: 10px


@media ( max-width: 767px )
    .book
        width: 95%
        &__wrapper
            display: block
            &__cover
                width: 280px
                height: 420px
        &__author
            font-size: 18px
        &__name
            font-size: 22px
        &__country
            font-size: 16px
        &__comment
            width: 95%
            font-size: 18px
        &__button
            margin-top: 20px
            margin-right: 15px            
        &__rating
            margin: 10px auto


@media ( max-width: 319px )
    .book
        &__wrapper
            &__cover
                width: 95%
                height: 360px
        &__description
            font-size: 16px
        &__button
            width: 40%